// Colors

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-950: #1b1f22;
$black: #000;

// Bifrost Color Palette
//
// Check it out here:
// https://coolors.co/fbf8cc-fde4cf-ffcfd2-f1c0e8-cfbaf0-a3c4f3-90dbf4-8eecf5-98f5e1-b9fbc0

$yellow-100: #fefbe9;
$yellow-200: #fdf9d5;
$yellow-300: #fbf8cc;
$yellow-400: #f3eaa0;
$yellow-500: #e6dc76;
$yellow-600: #d0c45f;
$yellow-700: #b3a64c;
$yellow-800: #8e8337;
$yellow-900: #5f5722;

$pink-100: #fff0ea;
$pink-200: #ffe5db;
$pink-300: #fde4cf;
$pink-400: #fbcab5;
$pink-500: #f7a99c;
$pink-600: #e58584;
$pink-700: #c7666a;
$pink-800: #a64c52;
$pink-900: #7a2f34;

$soft-pink-100: #ffe8ea;
$soft-pink-200: #ffd9dd;
$soft-pink-300: #ffcfd2;
$soft-pink-400: #ffb4b9;
$soft-pink-500: #ff949d;
$soft-pink-600: #ff6f7f;
$soft-pink-700: #e84d62;
$soft-pink-800: #c6364b;
$soft-pink-900: #9b1d33;

$lavender-100: #fbefff;
$lavender-200: #f6dcfb;
$lavender-300: #f1c0e8;
$lavender-400: #e7a5d8;
$lavender-500: #d88bc9;
$lavender-600: #c070b1;
$lavender-700: #9c5993;
$lavender-800: #7a4074;
$lavender-900: #552d54;

$mauve-100: #f4effd;
$mauve-200: #e8ddfb;
$mauve-300: #cfbaf0;
$mauve-400: #b79de5;
$mauve-500: #9d81d9;
$mauve-600: #8365c7;
$mauve-700: #6649a8;
$mauve-800: #4d3884;
$mauve-900: #36275e;

$blue-100: #eef4ff;
$blue-200: #d8e4fb;
$blue-300: #a3c4f3;
$blue-400: #7ea9ec;
$blue-500: #5e91e5;
$blue-600: #4178d0;
$blue-700: #2f5eb2;
$blue-800: #26488c;
$blue-900: #1a315f;

$cyan-100: #e6faff;
$cyan-200: #c8f0fc;
$cyan-300: #90dbf4;
$cyan-400: #67c7e7;
$cyan-500: #49b5d7;
$cyan-600: #2d9fc1;
$cyan-700: #1e83a5;
$cyan-800: #176480;
$cyan-900: #0f4356;

$teal-100: #e9fcfd;
$teal-200: #d0f7f9;
$teal-300: #8eecf5;
$teal-400: #5bdbe6;
$teal-500: #32cbd8;
$teal-600: #1eb4c1;
$teal-700: #148e98;
$teal-800: #0e6a70;
$teal-900: #08494d;

$mint-100: #e9fefb;
$mint-200: #cffff5;
$mint-300: #98f5e1;
$mint-400: #6ee7ce;
$mint-500: #43d9bc;
$mint-600: #2dc3a6;
$mint-700: #229a84;
$mint-800: #187063;
$mint-900: #0f4c45;

$green-100: #ecfff1;
$green-200: #d5fce2;
$green-300: #b9fbc0;
$green-400: #90e89a;
$green-500: #6ddf7a;
$green-600: #4dca5e;
$green-700: #3c9f4b;
$green-800: #2b7339;
$green-900: #1b4a26;

// Lazy color variables
// Use these variables if unsure
$yellow: $yellow-300;
$pink: $pink-300;
$soft-pink: $soft-pink-300;
$lavender: $lavender-300;
$mauve: $mauve-300;
$blue: $blue-300;
$cyan: $cyan-300;
$teal: $teal-300;
$mint: $mint-300;
$green: $green-300;
