// Variables
//
// Define your variables here

@use "colors" as colors;

$background-color: colors.$gray-900;

$hairline-color: colors.$gray-800;
$hairline-width: 1px;

$text-color-body-light: colors.$black;
$text-color-body-dark: colors.$gray-100;

$viewport-max-width: 1400px;
