# mise.toml

min_version = "2025.8.3"

[tools]
zola = "0.21.0"

[env]
# add env vars here

[tasks.build]
description = "Compile site statically with Zola"
run = "zola build"

[tasks.serve]
description = "Run dev server (live reload)"
run = "zola serve --port 1199 --interface 0.0.0.0 --base-url http://localhost:1199 --no-port-append --open"
# Make "serve" exclusive, since it's interactive
raw = true

[tasks.check]
description = "Run diagnostics without writing files"
run = "zola check"

[tasks.clean]
description = "Wipe public directory"
run = "rm -rf public || true"
