<footer class="footer">
  <div class="footer__content">
    <div class="footer__grid">

      <div class="footer__col footer__col--brand">
        <h3 class="footer__brand">{% include "partials/brand/wordmark.html" %}</h3>
        <p class="footer__muted">{{ trans(key="elevatorPitch") | safe }}</p>
      </div>

      <div class="footer__col">
        <h6>{{ trans(key="footerGetStarted") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='about', lang=detected_lang) }}">{{ trans(key="footerAbout") }}</a></li>
          <li><a href="{{ get_url(path='essentials/hello-world', lang=detected_lang) }}">{{ trans(key="footerHelloWorld") }}</a></li>
          <li><a href="{{ get_url(path='faq', lang=detected_lang) }}">{{ trans(key="footerFAQ") }}</a></li>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/.github/blob/main/profile/WHITEPAPER.md", text="White Paper") }}</li>
        </ul>

        <h6>{{ trans(key="footerJumpRightIn") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='essentials/the-setting', lang=detected_lang) }}">{{ trans(key="footerTheSetting") }}</a></li>
          <li><a href="{{ get_url(path='essentials/the-foundation', lang=detected_lang) }}">{{ trans(key="footerTheFoundation") }}</a></li>
          <li><a href="{{ get_url(path='essentials/the-hypothesis', lang=detected_lang) }}">{{ trans(key="footerTheHypothesis") }}</a></li>
          <li><a href="{{ get_url(path='timeline/preamble', lang=detected_lang) }}">{{ trans(key="footerPreamble") }}</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h6>{{ trans(key="footerSections") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='/', lang=detected_lang) }}">{{ trans(key="footerHome") }}</a></li>
          <li><a href="{{ get_url(path='essentials', lang=detected_lang) }}">{{ trans(key="footerIntro") }}</a></li>
          <li><a href="{{ get_url(path='wiki', lang=detected_lang) }}">{{ trans(key="footerWiki") }}</a></li>
          <li><a href="{{ get_url(path='explainers', lang=detected_lang) }}">{{ trans(key="footerArticles") }}</a></li>
          <li><a href="{{ get_url(path='library', lang=detected_lang) }}">{{ trans(key="footerResources") }}</a></li>
        </ul>

        <h6>{{ trans(key="footerPlatform") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='tags', lang=detected_lang) }}">{{ trans(key="footerTags") }}</a></li>
          <li><a href="{{ get_url(path='categories', lang=detected_lang) }}">{{ trans(key="footerCategories") }}</a></li>
          <li><a href="{{ get_url(path='contributors', lang=detected_lang) }}">{{ trans(key="footerContributors") }}</a></li>
          <li><a href="{{ get_url(path='atom.xml', lang=detected_lang) }}">{{ trans(key="footerRssFeed") }}</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h6>{{ trans(key="footerCommunity") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='forums', lang=detected_lang) }}">{{ trans(key="footerCommunity") }}</a></li>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/site/blob/main/CODE_OF_CONDUCT.md", text=trans(key="footerCodeOfConduct")) }}</li>
          <li>{{ link_macros::smart_link(url="https://github.com/orgs/wheelofheaven/discussions", text=trans(key="footerGithubDiscussion")) }}</li>
          <li>{{ link_macros::smart_link(url="https://opencollective.com/wheelofheaven", text="Open Collective") }}</li>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/site/blob/main/LICENSE", text=trans(key="footerOpenSource")) }}</li>
        </ul>

        <h6>{{ trans(key="footerSocialMedia") }}</h6>
        <ul>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/", text="GitHub") }}</li>
          <li>{{ link_macros::smart_link(url="https://opencollective.com/wheelofheaven", text="Telegram") }}</li>
          <li>{{ link_macros::smart_link(url="https://opencollective.com/wheelofheaven", text="X") }}</li>
        </ul>
      </div>

      <div class="footer__col">
        <h6>{{ trans(key="footerDevelopment") }}</h6>
        <ul>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/site/blob/main/CONTRIBUTE.md", text=trans(key="footerContribute")) }}</li>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/site/blob/main/CHANGELOG.md", text=trans(key="footerChangelog")) }}</li>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/site/graphs/commit-activity", text=trans(key="footerCommitActivity")) }}</li>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/site/blob/main/README.md", text=trans(key="footerReadme")) }}</li>
        </ul>

        <h6>{{ trans(key="footerPrivacyTerms") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='privacy', lang=detected_lang) }}">{{ trans(key="footerPrivacyPolicy") }}</a></li>
          <li><a href="{{ get_url(path='cookies', lang=detected_lang) }}">{{ trans(key="footerCookiePolicy") }}</a></li>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/site/blob/main/SECURITY.md", text=trans(key="footerSecurityPolicy")) }}</li>
          <li><a href="{{ get_url(path='contact', lang=detected_lang) }}">{{ trans(key="footerContact") }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom-grid">
      <div class="footer__closure">
        {{ trans(key="footerAttribution") | safe }}
        <br><small>{{ trans(key="footerAttributionSubline") | safe }}</small>
      </div>
        <div class="footer__socials">
            {% include "partials/social/x-twitter.html" %}
            {% include "partials/social/telegram.html" %}
            {% include "partials/social/youtube.html" %}
            {% include "partials/social/github.html" %}
            {% include "partials/social/open-collective.html" %}
        </div>
      </div>
    </div>
  </div>
</footer>
