<footer class="footer" id="footer">
  <div class="footer__content">
    <div class="footer__grid">

      <div class="footer__col footer__col--brand">
        <h3 class="footer__brand">{% include "partials/brand/wordmark.html" %}</h3>
        <p class="footer__muted">{{ trans(key="elevatorPitch") | safe }}</p>
      </div>

      <div class="footer__col">
        <h6>{{ trans(key="footerGetStarted") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='about', lang=detected_lang) }}">{{ trans(key="footerAbout") }}</a></li>
          <li><a href="{{ get_url(path='essentials/what-is-woh', lang=detected_lang) }}">What is WoH?</a></li>
          <li><a href="{{ get_url(path='faq', lang=detected_lang) }}">{{ trans(key="footerFAQ") }}</a></li>
        </ul>

        <h6>{{ trans(key="footerJumpRightIn") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='essentials/elohim-hypothesis', lang=detected_lang) }}">The Hypothesis</a></li>
          <li><a href="{{ get_url(path='essentials/precession', lang=detected_lang) }}">Precession</a></li>
          <li><a href="{{ get_url(path='timeline/preamble', lang=detected_lang) }}">{{ trans(key="footerPreamble") }}</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h6>{{ trans(key="footerSections") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='/', lang=detected_lang) }}">{{ trans(key="footerHome") }}</a></li>
          <li><a href="{{ get_url(path='essentials', lang=detected_lang) }}">Essentials</a></li>
          <li><a href="{{ get_url(path='timeline', lang=detected_lang) }}">Timeline</a></li>
          <li><a href="{{ get_url(path='wiki', lang=detected_lang) }}">{{ trans(key="footerWiki") }}</a></li>
          <li><a href="{{ get_url(path='library', lang=detected_lang) }}">Library</a></li>
          <li><a href="{{ get_url(path='resources', lang=detected_lang) }}">Resources</a></li>
          <li><a href="{{ get_url(path='explainers', lang=detected_lang) }}">Explainers</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h6>{{ trans(key="footerCommunity") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='forums', lang=detected_lang) }}">{{ trans(key="footerCommunity") }}</a></li>
          <li><a href="{{ get_url(path='contributing', lang=detected_lang) }}">Contributing</a></li>
          <li><a href="{{ get_url(path='code-of-conduct', lang=detected_lang) }}">Code of Conduct</a></li>
          <li>{{ link_macros::smart_link(url="https://github.com/orgs/wheelofheaven/discussions", text=trans(key="footerGithubDiscussion")) }}</li>
        </ul>

        <h6>{{ trans(key="footerSocialMedia") }}</h6>
        <ul>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/", text="GitHub") }}</li>
          <li>{{ link_macros::smart_link(url="https://t.me/wheelofheaven", text="Telegram") }}</li>
          <li>{{ link_macros::smart_link(url="https://x.com/wheelofheaven", text="X (Twitter)") }}</li>
        </ul>
      </div>

      <div class="footer__col">
        <h6>{{ trans(key="footerDevelopment") }}</h6>
        <ul>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/www.wheelofheaven.io", text="Source Code") }}</li>
          <li>{{ link_macros::smart_link(url="https://github.com/wheelofheaven/www.wheelofheaven.io/issues", text="Report Issue") }}</li>
          <li><a href="{{ get_url(path='atom.xml', lang=detected_lang) }}">{{ trans(key="footerRssFeed") }}</a></li>
        </ul>

        <h6>{{ trans(key="footerPrivacyTerms") }}</h6>
        <ul>
          <li><a href="{{ get_url(path='privacy-policy', lang=detected_lang) }}">{{ trans(key="footerPrivacyPolicy") }}</a></li>
          <li><a href="{{ get_url(path='cookie-policy', lang=detected_lang) }}">{{ trans(key="footerCookiePolicy") }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom-grid">
      <div class="footer__closure">
        {{ trans(key="footerAttribution") | safe }}
        <br><small>{{ trans(key="footerAttributionSubline") | safe }}</small>
      </div>
        <div class="footer__socials">
            {% include "partials/social/x-twitter.html" %}
            {% include "partials/social/telegram.html" %}
            {% include "partials/social/youtube.html" %}
            {% include "partials/social/github.html" %}
            {% include "partials/social/open-collective.html" %}
        </div>
      </div>
    </div>
  </div>
</footer>
