<nav class="navbar" aria-label="Main navigation">
    <!-- Desktop navbar -->
    <a
        class="navbar__logo"
        href="{{ get_url(path='/', lang=lang) }}"
        aria-label="Wheel of Heaven"
    >
        {% include "partials/brand/logomark.html" %}
    </a>
    <div class="navbar__content">
        <div class="navbar__links">
            <a
                href="{{ trans(key='navbarEssentialsLink', lang=lang) }}"
                class="navbar__link"
                data-navbar-key="essentials"
            >
                {{ trans(key="navbarEssentials", lang=lang) }}
            </a>
            <a
                href="{{ trans(key='navbarTimelineLink', lang=lang) }}"
                class="navbar__link"
                data-navbar-key="timeline"
            >
                {{ trans(key="navbarTimeline", lang=lang) }}
            </a>

            <!-- Knowledge Dropdown -->
            <div class="navbar__dropdown" data-dropdown="knowledge">
                <button
                    class="navbar__dropdown-trigger"
                    aria-expanded="false"
                    aria-haspopup="true"
                >
                    <span data-navbar-key="knowledge"
                        >{{ trans(key="navbarKnowledge", lang=lang) }}</span
                    >
                    <span class="navbar__dropdown-trigger__caret">
                        {% include "partials/icons/chevron-down.html" %}
                    </span>
                </button>
                <div
                    class="navbar-dropdown navbar-dropdown--knowledge"
                    id="knowledge-dropdown"
                >
                    <div class="navbar-dropdown__container">
                        <div class="navbar-dropdown__content">
                            <div class="navbar-dropdown__section">
                                <h3 class="navbar-dropdown__section-title">
                                    <span class="navbar-dropdown__section-icon">
                                        {% include
                                        "partials/icons/book-open.html" %}
                                    </span>
                                    <span data-navbar-key="knowledge"
                                        >{{ trans(key="navbarKnowledge",
                                        lang=lang) }}</span
                                    >
                                </h3>
                                <div class="navbar-dropdown__links">
                                    <a
                                        href="{{ trans(key='navbarExplainersLink', lang=lang) }}"
                                        class="navbar-dropdown__link"
                                    >
                                        <span
                                            class="navbar-dropdown__link-icon"
                                        >
                                            {% include
                                            "partials/icons/help-circle.html" %}
                                        </span>
                                        <div>
                                            <div
                                                class="navbar-dropdown__link-title"
                                            >
                                                <span
                                                    data-navbar-key="explainers"
                                                    >{{
                                                    trans(key="navbarExplainers",
                                                    lang=lang) }}</span
                                                >
                                                <span
                                                    class="navbar-dropdown__link-arrow"
                                                >
                                                    {% include
                                                    "partials/icons/arrow-right.html"
                                                    %}
                                                </span>
                                            </div>
                                            <div
                                                class="navbar-dropdown__link-description"
                                                data-navbar-key="explainersDesc"
                                            >
                                                {{
                                                trans(key="navbarExplainersDesc",
                                                lang=lang) }}
                                            </div>
                                        </div>
                                    </a>
                                    <a
                                        href="{{ trans(key='navbarLibraryLink', lang=lang) }}"
                                        class="navbar-dropdown__link"
                                    >
                                        <span
                                            class="navbar-dropdown__link-icon"
                                        >
                                            {% include
                                            "partials/icons/ph-scroll-light.html"
                                            %}
                                        </span>
                                        <div>
                                            <div
                                                class="navbar-dropdown__link-title"
                                            >
                                                <span data-navbar-key="library"
                                                    >{{
                                                    trans(key="navbarLibrary",
                                                    lang=lang) }}</span
                                                >
                                                <span
                                                    class="navbar-dropdown__link-arrow"
                                                >
                                                    {% include
                                                    "partials/icons/arrow-right.html"
                                                    %}
                                                </span>
                                            </div>
                                            <div
                                                class="navbar-dropdown__link-description"
                                                data-navbar-key="libraryDesc"
                                            >
                                                {{
                                                trans(key="navbarLibraryDesc",
                                                lang=lang) }}
                                            </div>
                                        </div>
                                    </a>
                                    <a
                                        href="{{ trans(key='navbarWikiLink', lang=lang) }}"
                                        class="navbar-dropdown__link"
                                    >
                                        <span
                                            class="navbar-dropdown__link-icon"
                                        >
                                            {% include
                                            "partials/icons/book.html" %}
                                        </span>
                                        <div>
                                            <div
                                                class="navbar-dropdown__link-title"
                                            >
                                                <span data-navbar-key="wiki"
                                                    >{{ trans(key="navbarWiki",
                                                    lang=lang) }}</span
                                                >
                                                <span
                                                    class="navbar-dropdown__link-arrow"
                                                >
                                                    {% include
                                                    "partials/icons/arrow-right.html"
                                                    %}
                                                </span>
                                            </div>
                                            <div
                                                class="navbar-dropdown__link-description"
                                                data-navbar-key="wikiDesc"
                                            >
                                                {{ trans(key="navbarWikiDesc",
                                                lang=lang) }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Resources Dropdown -->
            <div class="navbar__dropdown" data-dropdown="resources">
                <button
                    class="navbar__dropdown-trigger"
                    aria-expanded="false"
                    aria-haspopup="true"
                >
                    <span data-navbar-key="resources"
                        >{{ trans(key="navbarResources", lang=lang) }}</span
                    >
                    <span class="navbar__dropdown-trigger__caret">
                        {% include "partials/icons/chevron-down.html" %}
                    </span>
                </button>
                <div
                    class="navbar-dropdown navbar-dropdown--resources"
                    id="resources-dropdown"
                >
                    <div class="navbar-dropdown__container">
                        <div class="navbar-dropdown__content">
                            <div class="navbar-dropdown__columns">
                                <div class="navbar-dropdown__section">
                                    <h3 class="navbar-dropdown__section-title">
                                        <span
                                            class="navbar-dropdown__section-icon"
                                        >
                                            {% include
                                            "partials/icons/fluent-building-bank.html"
                                            %}
                                        </span>
                                        <span data-navbar-key="org"
                                            >{{ trans(key="navbarResourcesOrg",
                                            lang=lang) }}</span
                                        >
                                    </h3>
                                    <div class="navbar-dropdown__links">
                                        <a
                                            href="{{ trans(key='navbarAboutLink', lang=lang) }}"
                                            class="navbar-dropdown__link navbar-dropdown__link--simple"
                                        >
                                            <span
                                                class="navbar-dropdown__link-icon"
                                            >
                                                {% include
                                                "partials/icons/famicons-telescope-outline.html"
                                                %}
                                            </span>
                                            <span data-navbar-key="about"
                                                >{{ trans(key="navbarAbout",
                                                lang=lang) }}</span
                                            >
                                            <span
                                                class="navbar-dropdown__link-arrow"
                                            >
                                                {% include
                                                "partials/icons/arrow-right.html"
                                                %}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="navbar-dropdown__section">
                                    <h3 class="navbar-dropdown__section-title">
                                        <span
                                            class="navbar-dropdown__section-icon"
                                        >
                                            {% include
                                            "partials/icons/user-check.html" %}
                                        </span>
                                        <span data-navbar-key="community"
                                            >{{
                                            trans(key="navbarResourcesCommunity",
                                            lang=lang) }}</span
                                        >
                                    </h3>
                                    <div class="navbar-dropdown__links">
                                        <a
                                            href="{{ trans(key='navbarCodeOfConductLink', lang=lang) }}"
                                            class="navbar-dropdown__link navbar-dropdown__link--simple"
                                        >
                                            <span
                                                class="navbar-dropdown__link-icon"
                                            >
                                                {% include
                                                "partials/icons/octicon-code-of-conduct.html"
                                                %}
                                            </span>
                                            <span
                                                data-navbar-key="codeOfConduct"
                                                >{{
                                                trans(key="navbarCodeOfConduct",
                                                lang=lang) }}</span
                                            >
                                            <span
                                                class="navbar-dropdown__link-arrow"
                                            >
                                                {% include
                                                "partials/icons/arrow-right.html"
                                                %}
                                            </span>
                                        </a>
                                        <a
                                            href="{{ trans(key='navbarContributingLink') }}"
                                            class="navbar-dropdown__link navbar-dropdown__link--simple"
                                        >
                                            <span
                                                class="navbar-dropdown__link-icon"
                                            >
                                                {% include
                                                "partials/icons/user-plus.html"
                                                %}
                                            </span>
                                            <span data-navbar-key="contributing"
                                                >{{
                                                trans(key="navbarContributing",
                                                lang=lang) }}</span
                                            >
                                            <span
                                                class="navbar-dropdown__link-arrow"
                                            >
                                                {% include
                                                "partials/icons/arrow-right.html"
                                                %}
                                            </span>
                                        </a>
                                        <a
                                            href="{{ trans(key='navbarForumsLink') }}"
                                            class="navbar-dropdown__link navbar-dropdown__link--simple"
                                        >
                                            <span
                                                class="navbar-dropdown__link-icon"
                                            >
                                                {% include
                                                "partials/icons/message-square.html"
                                                %}
                                            </span>
                                            <span data-navbar-key="forums"
                                                >{{ trans(key="navbarForums",
                                                lang=lang) }}</span
                                            >
                                            <span
                                                class="navbar-dropdown__link-arrow"
                                            >
                                                {% include
                                                "partials/icons/arrow-right.html"
                                                %}
                                            </span>
                                        </a>
                                        <a
                                            href="{{ trans(key='navbarFAQLink') }}"
                                            class="navbar-dropdown__link navbar-dropdown__link--simple"
                                        >
                                            <span
                                                class="navbar-dropdown__link-icon"
                                            >
                                                {% include
                                                "partials/icons/tdesign-questionnaire-double.html"
                                                %}
                                            </span>
                                            <span data-navbar-key="faq"
                                                >{{ trans(key="navbarFAQ",
                                                lang=lang) }}</span
                                            >
                                            <span
                                                class="navbar-dropdown__link-arrow"
                                            >
                                                {% include
                                                "partials/icons/arrow-right.html"
                                                %}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-dropdown__bottom-section">
                                <div class="navbar-dropdown__section">
                                    <div class="navbar-dropdown__links">
                                        <a
                                            href="https://x.com/wheelofheaven"
                                            class="navbar-dropdown__link navbar-dropdown__link--simple"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                        >
                                            <span
                                                class="navbar-dropdown__link-icon"
                                            >
                                                {% include
                                                "partials/icons/twitter.html" %}
                                            </span>
                                            <span data-navbar-key="followX"
                                                >{{ trans(key="navbarFollowX",
                                                lang=lang) }}</span
                                            >
                                            <span
                                                class="navbar-dropdown__link-arrow"
                                            >
                                                {% include
                                                "partials/icons/arrow-right.html"
                                                %}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile controls section -->
        <div class="navbar__mobile-content">
            <div class="navbar__mobile-controls">
                <button
                    id="mobile-theme-toggle"
                    class="navbar__theme-toggle"
                    aria-label="Toggle dark/light mode"
                >
                    <span class="navbar__theme-icon">
                        <span class="icon icon--moon"
                            >{% include "partials/icons/feather-moon.html"
                            %}</span
                        >
                        <span class="icon icon--sun"
                            >{% include "partials/icons/feather-sun.html"
                            %}</span
                        >
                    </span>
                </button>

                <div
                    class="navbar__language-switcher"
                    id="mobile-lang-switcher"
                >
                    <Icon name="lucide:globe" size="16" />
                    <select
                        id="mobile-lang-select"
                        class="navbar__select"
                        aria-label="Select language"
                    >
                        <!-- Default language (English) -->
                        <option value="en">English</option>
                        <!-- Sorted alphabetically by language code -->
                        <option value="de">Deutsch</option>
                        <option value="es">Español</option>
                        <option value="fr">Français</option>
                        <option value="ja">日本語</option>
                        <option value="ru">Русский</option>
                        <option value="zh">中文</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar__controls">
        <div class="navbar__mobile-search mobile-only">
            <input
                type="search"
                class="navbar__mobile-search-input"
                placeholder="Search..."
                aria-label="Search site"
                id="mobileSearchInput"
            />
        </div>

        <button
            class="navbar__mobile-toggle mobile-only"
            id="mobileSearchToggle"
            aria-label="Toggle search"
        >
            {% include "partials/icons/feather-search.html" %}
        </button>

        <button
            class="navbar__mobile-toggle mobile-only"
            id="mobileNavToggle"
            aria-label="Toggle mobile navigation"
        >
            {% include "partials/icons/menu.html" %}
        </button>

        <div class="navbar__search desktop-only">
            <input
                type="search"
                class="navbar__search-input"
                placeholder="Search..."
                aria-label="Search site"
            />
        </div>

        <div class="navbar__language-switcher" id="lang-switcher">
            <Icon name="lucide:globe" size="16" />
            <select
                id="lang-select"
                class="navbar__select"
                aria-label="Select language"
            >
                <!-- Default language (English) -->
                <option value="en">English</option>
                <!-- Sorted alphabetically by language code -->
                <option value="de">Deutsch</option>
                <option value="es">Español</option>
                <option value="fr">Français</option>
                <option value="ja">日本語</option>
                <option value="ru">Русский</option>
                <option value="zh">中文</option>
            </select>
        </div>

        <button
            id="theme-toggle"
            class="navbar__theme-toggle"
            aria-label="Toggle dark/light mode"
        >
            <span class="navbar__theme-icon">
                <span class="icon icon--moon"
                    >{% include "partials/icons/feather-moon.html" %}</span
                >
                <span class="icon icon--sun"
                    >{% include "partials/icons/feather-sun.html" %}</span
                >
            </span>
        </button>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Initialize navbar translations
                updateNavbarTranslations();

                // Detect current language from URL
                function getCurrentLanguage() {
                    const path = window.location.pathname;
                    const defaultLang = "en";
                    const supportedLangs = ["de", "es", "fr", "ja", "ru", "zh"];

                    // Check if path starts with a language code
                    const pathParts = path
                        .split("/")
                        .filter((part) => part.length > 0);
                    if (
                        pathParts.length > 0 &&
                        supportedLangs.includes(pathParts[0])
                    ) {
                        return pathParts[0];
                    }
                    return defaultLang;
                }

                // Update language selector to show current language
                function updateLanguageSelector() {
                    const currentLang = getCurrentLanguage();
                    const desktopSelect =
                        document.getElementById("lang-select");
                    const mobileSelect =
                        document.getElementById("mobile-lang-select");

                    if (desktopSelect) {
                        desktopSelect.value = currentLang;
                    }
                    if (mobileSelect) {
                        mobileSelect.value = currentLang;
                    }
                }

                function switchLanguage(targetLang) {
                    const currentPath = window.location.pathname;
                    const currentLang = getCurrentLanguage();
                    const defaultLang = "en";
                    const baseUrl = "{{ config.base_url | safe }}";

                    // Remove trailing slash from base URL for consistent handling
                    const cleanBaseUrl = baseUrl.replace(/\/$/, "");

                    let newPath = currentPath;

                    // If we're currently on a non-default language, remove the language prefix
                    if (currentLang !== defaultLang) {
                        // Remove /lang/ prefix or just /lang if at root
                        const langPrefix = "/" + currentLang;
                        if (newPath.startsWith(langPrefix + "/")) {
                            newPath = newPath.substring(langPrefix.length);
                        } else if (
                            newPath === langPrefix ||
                            newPath === langPrefix + "/"
                        ) {
                            newPath = "/";
                        }
                    }

                    // Add the target language prefix if it's not the default language
                    if (targetLang !== defaultLang) {
                        newPath = "/" + targetLang + newPath;
                    }

                    // Ensure path starts with /
                    if (!newPath.startsWith("/")) {
                        newPath = "/" + newPath;
                    }

                    // Navigate to the new URL
                    const newUrl = cleanBaseUrl + newPath;
                    window.location.href = newUrl;
                }

                // Update navbar translations based on current language
                function updateNavbarTranslations() {
                    const currentLang = getCurrentLanguage();

                    const translations = {
                        en: {
                            essentials: "Essentials",
                            timeline: "Timeline",
                            knowledge: "Knowledge",
                            resources: "Resources",
                            explainers: "Explainers",
                            explainersDesc:
                                "Detailed explanations of key concepts and ideas",
                            revelations: "Revelations",
                            revelationsDesc:
                                "Sacred texts and their modern interpretations",
                            wiki: "Wiki",
                            wikiDesc:
                                "Comprehensive reference and documentation",
                            org: "Org",
                            community: "Community",
                            about: "About",
                            codeOfConduct: "Code of Conduct",
                            contributing: "Contributing",
                            forums: "Forums & Discussions",
                            faq: "FAQ",
                            followX: "Follow us on X",
                        },
                        fr: {
                            essentials: "Essentiels",
                            timeline: "Chronologie",
                            knowledge: "Connaissance",
                            resources: "Ressources",
                            explainers: "Explicateurs",
                            explainersDesc:
                                "Explications détaillées des concepts et idées clés",
                            revelations: "Révélations",
                            revelationsDesc:
                                "Textes sacrés et leurs interprétations modernes",
                            wiki: "Wiki",
                            wikiDesc: "Référence et documentation complètes",
                            org: "Organisation",
                            community: "Communauté",
                            about: "À propos",
                            codeOfConduct: "Code de Conduite",
                            contributing: "Contribuer",
                            forums: "Forums et Discussions",
                            faq: "FAQ",
                            followX: "Suivez-nous sur X",
                        },
                        de: {
                            essentials: "Grundlagen",
                            timeline: "Zeitleiste",
                            knowledge: "Wissen",
                            resources: "Ressourcen",
                            explainers: "Erklärungen",
                            explainersDesc:
                                "Detaillierte Erklärungen wichtiger Konzepte und Ideen",
                            revelations: "Offenbarungen",
                            revelationsDesc:
                                "Heilige Texte und ihre modernen Interpretationen",
                            wiki: "Wiki",
                            wikiDesc: "Umfassende Referenz und Dokumentation",
                            org: "Organisation",
                            community: "Community",
                            about: "Über uns",
                            codeOfConduct: "Verhaltenskodex",
                            contributing: "Beitragen",
                            forums: "Foren & Diskussionen",
                            faq: "FAQ",
                            followX: "Folgen Sie uns auf X",
                        },
                        es: {
                            essentials: "Esenciales",
                            timeline: "Cronología",
                            knowledge: "Conocimiento",
                            resources: "Recursos",
                            explainers: "Explicadores",
                            explainersDesc:
                                "Explicaciones detalladas de conceptos e ideas clave",
                            revelations: "Revelaciones",
                            revelationsDesc:
                                "Textos sagrados y sus interpretaciones modernas",
                            wiki: "Wiki",
                            wikiDesc: "Referencia y documentación integral",
                            org: "Organización",
                            community: "Comunidad",
                            about: "Acerca de",
                            codeOfConduct: "Código de Conducta",
                            contributing: "Contribuir",
                            forums: "Foros y Discusiones",
                            faq: "FAQ",
                            followX: "Síguenos en X",
                        },
                        ja: {
                            essentials: "基本",
                            timeline: "タイムライン",
                            knowledge: "知識",
                            resources: "リソース",
                            explainers: "解説",
                            explainersDesc: "重要な概念とアイデアの詳細な説明",
                            revelations: "啓示",
                            revelationsDesc: "聖典とその現代的解釈",
                            wiki: "ウィキ",
                            wikiDesc: "包括的なリファレンスとドキュメント",
                            org: "組織",
                            community: "コミュニティ",
                            about: "私たちについて",
                            codeOfConduct: "行動規範",
                            contributing: "貢献",
                            forums: "フォーラム＆ディスカッション",
                            faq: "よくある質問",
                            followX: "Xでフォロー",
                        },
                        ru: {
                            essentials: "Основы",
                            timeline: "Хронология",
                            knowledge: "Знания",
                            resources: "Ресурсы",
                            explainers: "Объяснения",
                            explainersDesc:
                                "Подробные объяснения ключевых концепций и идей",
                            revelations: "Откровения",
                            revelationsDesc:
                                "Священные тексты и их современные интерпретации",
                            wiki: "Вики",
                            wikiDesc: "Исчерпывающий справочник и документация",
                            org: "Организация",
                            community: "Сообщество",
                            about: "О нас",
                            codeOfConduct: "Кодекс поведения",
                            contributing: "Участие",
                            forums: "Форумы и обсуждения",
                            faq: "Часто задаваемые вопросы",
                            followX: "Следите за нами в X",
                        },
                        zh: {
                            essentials: "基础",
                            timeline: "时间线",
                            knowledge: "知识",
                            resources: "资源",
                            explainers: "解释",
                            explainersDesc: "关键概念和想法的详细解释",
                            revelations: "启示",
                            revelationsDesc: "神圣文本及其现代解释",
                            wiki: "百科",
                            wikiDesc: "全面的参考和文档",
                            org: "组织",
                            community: "社区",
                            about: "关于我们",
                            codeOfConduct: "行为准则",
                            contributing: "贡献",
                            forums: "论坛与讨论",
                            faq: "常见问题",
                            followX: "在X上关注我们",
                        },
                    };

                    const t = translations[currentLang] || translations.en;

                    // Update navbar links by data attributes
                    document
                        .querySelectorAll("[data-navbar-key]")
                        .forEach((element) => {
                            const key = element.getAttribute("data-navbar-key");
                            if (t[key]) {
                                element.textContent = t[key];
                            }
                        });
                }

                // Initialize language selector with a small delay to ensure DOM is ready
                setTimeout(() => {
                    updateLanguageSelector();
                    updateNavbarTranslations();
                }, 100);

                // Handle desktop language switcher
                const langSelect = document.getElementById("lang-select");
                if (langSelect) {
                    langSelect.addEventListener("change", function (e) {
                        const targetLang = e.target.value;
                        const currentLang = getCurrentLanguage();
                        if (targetLang !== currentLang) {
                            switchLanguage(targetLang);
                        }
                    });
                }

                // Handle mobile language switcher
                const mobileLangSelect =
                    document.getElementById("mobile-lang-select");
                if (mobileLangSelect) {
                    mobileLangSelect.addEventListener("change", function (e) {
                        const targetLang = e.target.value;
                        const currentLang = getCurrentLanguage();
                        if (targetLang !== currentLang) {
                            switchLanguage(targetLang);
                        }
                    });
                }
            });
        </script>
    </div>
</nav>
