<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.min.js"></script>
<script src="{{ get_url(path='js/search.js') | safe }}" defer></script>
<script src="{{ get_url(path='js/navbar.js') | safe }}" defer></script>
<script src="{{ get_url(path='js/to-top.js') | safe }}" defer></script>
<script src="/js/navbar-mobile-toggle.js" defer></script>
<script src="{{ get_url(path='js/toc-scroll-spy.js') | safe }}" defer></script>
<script src="{{ get_url(path='js/pwa.js') | safe }}" defer></script>
<script src="{{ get_url(path='js/reading-list.js') | safe }}" defer></script>
