// Fonts

@font-face {
    font-family: iAWriterQuattroS;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local("iAWriterQuattroS-Regular"),
        url("fonts/vendor/ia-writer-quattro/iAWriterQuattroS-Regular.woff2")
            format("woff2");
}

@font-face {
    font-family: iAWriterQuattroS;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local("iAWriterQuattroS-Bold"),
        url("fonts/vendor/ia-writer-quattro/iAWriterQuattroS-Bold.woff2")
            format("woff2");
}

@font-face {
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local("Jost-Regular"),
        url("fonts/vendor/jost/jost-v19-cyrillic_latin-regular.woff2")
            format("woff2");
}

@font-face {
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local("Jost-Bold"),
        url("fonts/vendor/jost/jost-v19-cyrillic_latin-700.woff2")
            format("woff2");
}

@font-face {
    font-family: SpaceGrotesk;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local("SpaceGrotesk-Regular"),
        url("fonts/vendor/space-grotesk/space-grotesk-v21-latin-regular.woff2")
            format("woff2");
}

@font-face {
    font-family: SpaceGrotesk;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local("SpaceGrotesk-Bold"),
        url("fonts/vendor/space-grotesk/space-grotesk-v21-latin-700.woff2")
            format("woff2");
}
